.footer {
  background-color: $darkblue;

  &__inner {
    max-width: 1225px;
    margin: 0 auto;
    padding: 40px 0;

    .row {

      @media (min-width:$largeScreens) {
        grid-template-columns: 1fr 2fr 1fr;
      }

      .footer-col-1 {
        text-align: center;

        @media (min-width:$largeScreens) {
          text-align: left;
        }
        .social-icons {
          display: flex;
          padding-top: 50px;
          justify-content: center;

          img {
            max-width: 20px;
            margin: 0 5px; 
          }
        }
      }
      .footer-col-2 {
        ul {
          padding: 40px 0;

          @media (min-width:$largeScreens) {
            padding: 0;
          }
        }
        li {
          font-size: 14px;
          padding: 10px 0 0;
          text-align: center;

          @media (min-width:$largeScreens) {
            text-align: left;
          }
          
        }
      }

      .footer-col-3 {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width:$largeScreens) {
          justify-self: end;
          align-items: flex-end;
        }

        small {
          display:block;
          padding: 20px 0;
        }
      }
    }
    svg {
      max-width: 150px;
    }
        .footer-svg {
          fill: $white;
        }
    }

  ul {
    color: $veryLightGray;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    @media (min-width:$largeScreens) {
    flex-direction: row;
    }
    li {
      width: 50%;
    }
  }

  .attribution {
     padding: 20px;
  }
}