.footer {
  background-color: $darkblue;

  &__inner {
    max-width: 1225px;
    margin: 0 auto;
    padding: 40px 0;

    .row {

      @media (min-width:$largeScreens) {
        grid-template-columns: 1fr 2fr 1fr;
      }

      .footer-col-1 {
        text-align: center;
        padding-left: 20px;

        @media (min-width:$largeScreens) {
          text-align: left;
        }
        .social-icons {
          display: flex;
          padding-top: 50px;
          justify-content: center;

          @media (min-width:$largeScreens) {
            justify-content: start;
          }

          img {
            max-width: 25px;
            margin: 0 5px; 
          }
        }
      }
      .footer-col-2 {

        .footer-navigation {
          
          @media (min-width:$largeScreens) {
            display: flex;
          }
          
          &__links1 {
              padding-top: 30px;
              display: flex;
              flex-direction: column;    
             
              @media (min-width:$largeScreens) {
                padding-top: 0;
              }
          }

          &__links2 {
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;

            @media (min-width:$largeScreens) {
              padding-bottom: 0;
            }
          }

          &__links1,
          &__links2 {
            color: $veryLightGray;
            list-style: none;
            margin: 0;
            padding-left: 0;
            padding-right: 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;

            @media (min-width:$largeScreens) {
              flex-direction: row;
            }
             
            li {
              font-size: 14px;
              padding: 10px 0;
              text-align: center;

              @media (min-width:$largeScreens) {
                text-align: left;
                padding: 10px;
              }
              
            }
          }

        }
      }

      .footer-col-3 {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width:$largeScreens) {
          justify-self: end;
          align-items: flex-end;
        }

        small {
          display:block;
          padding: 20px 0;
        }
      }
    }
    svg {
      max-width: 150px;
    }
        .footer-svg {
          fill: $white;
        }
    }

  .attribution {
     padding: 20px;
     font-size: 12px;
     text-align: center;
  }
}