// DEFAULT COLORS
// ### Primary

$darkblue: #2d314d;
$limeGreen: #31d35c;
$brightCyan: #2bb7da;

// ### Neutral

$grayishBlue: #9698a6;
$lightGrayishBlue: #f3f4f6;
$veryLightGray: #fafafa;
$white: #ffffff;

// Breakpoints ==========================

//Breakpoints
$phablet: 720px;
$tablet: 1024px;
$largeScreens: 1200px;
$extraLargeScreens: 1500px; 


// Default Page Width
$pageWidth: 1400px;


// FONT STYLES =====
$base-font-family: 'Public Sans', sans-serif;;
$base-font-size: 18px;

